/node_modules
/public/hot
/public/storage
/storage/*
!/storage/app
!/storage/app/public
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/testing
!/storage/framework/views
!/storage/logs
/vendor
/.idea
/.vscode
/.phpunit.result.cache
/.env
/.env.*.backup
/.DS_Store
