# Node modules
/node_modules

# Laravel specific
/public/hot
/public/storage
/storage/*.key
/vendor

# Ignore everything in storage...
/storage/*
# ...but keep these necessary dirs
!/storage/app
!/storage/app/public
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/testing
!/storage/framework/views

# Ignore compiled views (Blade templates)
/storage/framework/views/*
!/storage/framework/views/.gitignore

# Ignore logs
*.log
/storage/logs/*
!/storage/logs/.gitignore

# Ignore bootstrap cache files
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# IDE/Editor files
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# PHPUnit
.phpunit.result.cache

# Mac / Windows / Linux system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
.env.*.backup
