# Node modules
/node_modules

# Laravel specific
/public/hot
/public/storage
/storage/logs/*
/storage/*.key
/vendor

# Ignore everything in storage...
/storage/*
# ...but keep these necessary dirs
!/storage/app
!/storage/app/public
!/storage/framework
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/testing
!/storage/framework/views

# Ignore log files
*.log
/storage/logs/*

# IDE / Editor files
/.idea
/.vscode
/.phpunit.result.cache

# Ignore environment files
.env
.env.*.backup
.DS_Store
